<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Maestría Ciencias Agronómicas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
  <button id="btnScrollToTop">
    <i class="fas fa-arrow-up"></i>
  </button>

  <nav class="navbar navbar-expand-lg navbar-light navbar-top fixed-top">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="../assets/images/logo-white.png" width="300" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <!-- <span class="font-weight-bold text-white">Universidad de Córdoba</span> -->
    </a>
    <!-- <h1 class="text-white display-3">Universidad de Córdoba</h1> -->
    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
      class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link text-white" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="./candidate.html">Aspirantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="./teacher.html">Docentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="./graduate.html">Egresados</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="main bg-main">
    <header>
      <div class="text-contain">
        <h1 class="text-green">Docentes</h1>
        <ul class="list-group list-group-flush overflowed">
          <li class="list-group-item list-group-item-action active">
            <a href="#teachers-one">Presentación</a>
          </li>
        </ul>
      </div>

      <img class="img-svg" src="../assets/images/fast_working_isometric.svg" alt="">
    </header>
    <svg class="wave" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,64L20,106.7C40,149,80,235,120,240C160,245,200,171,240,133.3C280,96,320,96,360,112C400,128,440,160,480,160C520,160,560,128,600,133.3C640,139,680,181,720,197.3C760,213,800,203,840,181.3C880,160,920,128,960,122.7C1000,117,1040,139,1080,128C1120,117,1160,75,1200,64C1240,53,1280,75,1320,96C1360,117,1400,139,1420,149.3L1440,160L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z">
      </path>
    </svg>
  </div>
  <svg class="wave" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#ffffff" fill-opacity="1"
      d="M0,64L20,106.7C40,149,80,235,120,240C160,245,200,171,240,133.3C280,96,320,96,360,112C400,128,440,160,480,160C520,160,560,128,600,133.3C640,139,680,181,720,197.3C760,213,800,203,840,181.3C880,160,920,128,960,122.7C1000,117,1040,139,1080,128C1120,117,1160,75,1200,64C1240,53,1280,75,1320,96C1360,117,1400,139,1420,149.3L1440,160L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z">
    </path>
  </svg>
  <!-- content -->


  </div>


  <div class="container-fluid">
    <section class="main" id="teachers-one">

      <div class="row">
      
        <div class="col-md-12">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Rodrigo-Campo-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Rodrigo Orlando Campo Arana</h4>
                    <p class="card-text">Jefe Departamento Ingeniería Agronómica y Desarrollo Rural</p>
                    <p class="card-text">Ing. Agrónomo – M.Sc Protección de cultivos – Ph.D. Fitopatología</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Carlos-Cardona-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Carlos Enrique Cardona Ayala</h4>
                    <p class="card-text">Espc. en Estadística, Manejo de Suelos y Agua – M.Sc. en Ciencias Agrarias Área de Fisiología de Cultivos</p>
                    <p class="card-text">Ph.D. En Ciencias Naturales Para el Desarrollo con énf. en Sistemas de Producción Agrícola.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Claudio-Fernandez-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Claudio Rodolfo Fernández Herrera</h4>
                    <p class="card-text">Ingeniería Agronómica y Desarrollo Rural.</p>
                    <p class="card-text">Ingeniero Agrónomo – Maestría en Entomología</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Eliecer-Cabrales-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Eliecer Miguel Cabrales Herrera</h4>
                    <p class="card-text">Coordinador Postgrados Facultad Ciencias Agrícolas – Ing. Agrónomo – Esp. en Manejo de suelos y agua</p>
                    <p class="card-text">M.Sc en Ciencias Agrarias – Ph.D. en Ciencias del Suelo</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Enrique-Combatt-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Enrique Miguel Combatt Caballero</h4>
                    <p class="card-text">Ingeniero Agrónomo – Especialista en Manejo de Suelos y Aguas</p>
                    <p class="card-text">Magister en Agronomia – Ph.D en Manejo de Suelos y Nutrición Mineral.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Hermes-Aramendiz-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Aramendiz Tatis Hermes</h4>
                    <p class="card-text">Ingeniero Agrónomo – Magister Fitotecnia – Ph.D Genética e Mejoramiento de Plantas.</p>
                    <p class="card-text"></p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Isidro-Suarez-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Isidro Elías Suárez Padrón</h4>
                    <p class="card-text">Ingeniero Agrónomo Ph. D.- Ciencias Agrícolas.</p>
                    <p class="card-text"></p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Juan-Jaraba-1-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Juan De Dios Jaraba Navas</h4>
                    <p class="card-text">Ingeniero Agrónomo – Maestría en Fitopatología. Colegio de Posgraduados </p>
                    <p class="card-text">PhD Plant Pathology.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Miguel-Espitia-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Miguel Mariano Espitia Camacho</h4>
                    <p class="card-text">Ingeniero Agrónomo – Maestría en Ciencias Agrarias, con Énf. en Genética y Fitomejoramiento</p>
                    <p class="card-text">Ph.D en Ciencias Agrarias Con Énfasis En Fitomejoramiento.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <!-- <img class="" src="" alt="Card image cap"> -->
                </div>
                <div class="card-body">
                    <h4 class="card-title">José Luis Barrera Violeth</h4>
                    <p class="card-text">Ingeniero Agrónomo. Magister en Ciencias Agrícolas.</p>
                    <p class="card-text"> Aspirante Doctorado en Ciencias Agrarias.</p>
                </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 mt-3">
          <div class="card">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="" src="../assets/images/teachers/Teobaldis-Mercado-150x150.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Teobaldis Mercado Fernández </h4>
                    <p class="card-text">Ingeniero Agrónomo – Especialista en Manejo de Suelos y Aguas</p>
                    <p class="card-text"> Maestría en Hidrociencias – Doctor en Hidrociencias.</p>
                </div>
            </div>
          </div>
        </div>

        
      </div>
    </section>
  </div>
  
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../assets/js/main.js"></script>

</html>