<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maestría Ciencias Agronómicas</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<body>
    <button id="btnScrollToTop">
        <i class="fas fa-arrow-up"></i>
    </button>
    <nav class="navbar navbar-expand-lg navbar-light navbar-top fixed-top">
        <a href="#" class="navbar-brand">
            <img src="../../assets/images/logo-white.png" width="300" alt="" class="d-inline-block align-middle mr-2">
        </a>
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link text-white" href="../../index.html">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="../candidate.html">Aspirantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../student.html">Estudiantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../teacher.html">Docentes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="../graduate.html">Egresados</a>
            </li>
          </ul>
        </div>
    </nav> 

    <div class="main bg-main">
        <header>
            <div class="text-contain">
                <h1 class="text-green">
                    SEMINARIO I (METODOLOGÍA DE LA INVESTIGACIÓN) 
                </h1>
                <ul class="list-group list-group-flush transparent">
                    <li class="list-group-item list-group-item-action active">
                        <a href="#descriptionpageone">Descripción</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#justificationpageone">Jusitificación</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#objectives-page-one">Objectivos</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#content-page-one">Contenido</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#skills-page-one">Competencias</a>
                    </li>
                    <li class="list-group-item">
                        <a href="#metodology-page-one">Metodología</a>
                    </li>
                </ul>
            </div>
            <img class="img-svg" src="../../assets/images/fast_working_isometric.svg" alt="" >
        </header>
        <svg class="wave" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#ffffff" fill-opacity="1" d="M0,64L20,106.7C40,149,80,235,120,240C160,245,200,171,240,133.3C280,96,320,96,360,112C400,128,440,160,480,160C520,160,560,128,600,133.3C640,139,680,181,720,197.3C760,213,800,203,840,181.3C880,160,920,128,960,122.7C1000,117,1040,139,1080,128C1120,117,1160,75,1200,64C1240,53,1280,75,1320,96C1360,117,1400,139,1420,149.3L1440,160L1440,320L1420,320C1400,320,1360,320,1320,320C1280,320,1240,320,1200,320C1160,320,1120,320,1080,320C1040,320,1000,320,960,320C920,320,880,320,840,320C800,320,760,320,720,320C680,320,640,320,600,320C560,320,520,320,480,320C440,320,400,320,360,320C320,320,280,320,240,320C200,320,160,320,120,320C80,320,40,320,20,320L0,320Z"></path>
        </svg>
    </div>

    <div class="container-fluid">
        <section id="descriptionpageone">
            <div class="row">
                <div class="col-md-7 col-xs-8 mt-8 fixed-column">
                    <h1 class="b-white align-text-bottom display-5 p-1">Descripción</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead text-justify p-1">
                        El objeto del curso de fisiología del agua y de la nutrición  de las plantas, es introducir aspectos teóricos y prácticos con énfasis especial sobre algunos procedimientos que son importantes para entender el funcionamiento de las células vegetales. Se enfatizará en aspectos como: el movimiento del agua en trayectos cortos y largos, su disponibilidad en el suelo, la absorción por las raíces, el ascenso por los tejidos conductores, la pérdida por transpiración, el mecanismo de funcionamiento de los estomas y la respuesta al estrés hídrico (sequía, inundación, helada, enfriamiento y congelamiento) sobre la planta.
                        La condición nutrimental de los cultivos, debe ser óptima si se aspira a alcanzar rendimientos cercanos a los máximos posibles. Tal condición se logra mediante la formulación y aplicación de un plan nutrimental. La formulación de dicho plan impone ciertas reglas. La primera, es dominar los conceptos teóricos de la nutrición y regulación del crecimiento de los cultivos y, la segunda, es conocer en profundidad los aspectos de producción relativos al sistema y, en particular, los referentes a la tecnología del uso de los fertilizantes, reguladores y el agua. Ambos requisitos son fundamentales para el éxito del plan.
                    </p>
                    <button type="button" class="btn btn-primary mt-1" data-toggle="collapse" data-target="#demo">Leer mas</button>
                    <p class="collapse lead text-justify p-1" id="demo">
                        Un sistema de producción agrícola esta constituido por los siguientes componentes: plantas, suelo, clima y hombre. Las plantas son las responsables del proceso de fotosíntesis, que hace que se acumule biomasa seca y, en última instancia, un producto de interés económico. El suelo donde crecen las plantas almacena el agua, proporciona los nutrimentos y el soporte mecánico.
                        La atmósfera interacciona con los factores anteriores y provee la la energía y el agua de lluvia, entre otros factores de crecimiento. El último componente es el hombre, cuya función es optimizar, dentro de lo económicamente razonable, los niveles de aquellos factores de la producción que se pueden manejar o controlar, para impedir que dichos factores se transformen en limitantes de la misma.
                    </p>
                </div>
            </div>
        </section>

        <section class="main" id="justificationpageone">
            <div class="row">
                <div class="col-md-7 col-xs-8 mt-8 fixed-column">
                    <h1 class="b-white align-text-bottom display-3 p-4">Jusitificación</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="lead text-justify p-4">
                        El presente programa busca orientar a los futuros Magíster en Ciencias agroalimentarias en la comprensión de los procesos fisiológicos atinentes al uso adecuado del agua y su importancia en el crecimiento y desarrollo de las plantas así como también la importancia de los nutrientes en  los  procesos internos de las plantas en la formación de biomasa.
                    </p>
                </div>
            </div>
        </section>
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="../../assets/js/main.js"></script>
</html>